body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app{
  width:500px;
  text-align: center;
  margin: 0 auto;
  color: #666;
}

.formRow {
  margin-bottom: 1rem;  
}

label {
  width: 480px;
  text-align: left;
  font-weight:bold;
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

input{
  box-shadow:inset 0 1px 5px rgba(0,0,0,0.07);
  border-radius:5px;
  padding:10px;
  width:480px; 
  border:1px solid #aaa;
}

.react-datepicker-wrapper{
  width: 500px ;
}

input:focus{
  border-color:#9DC9F5;
  outline:none;
}

.formError{
  color: rgb(199, 0, 0);
  font-size: 0.8rem;
}

.button{
  padding: 10px;
  width:500px !important;
  background-color: rgb(141, 139, 139);
  color: white;
  border: none;
  letter-spacing: 0.15em;
}

.button:hover{
  background-color:#A21310;
  cursor: pointer;
}

@media (max-width:425px){
  .app{
    width: 300px;
    margin: 0 auto;
  }
  label, input{
    width: 280px;
  }

  .react-datepicker__input-container{
    width: 280px !important;
    float: left;
  }
  .react-datepicker-wrapper{
    width: 280px !important;

  }
  .button{
    width: 320px !important;
  }
}
